
<div class="container" >
  <div  *ngIf="listStep.length>0">
 <h4 style="text-align: right"> רשימת שלבים</h4>
  <div class="row">
  <div class="col-md-12 mx-auto">
    <div class="md-form" >
      <input
        type="text"
        [(ngModel)]="searchText"
        class="form-control"
        id="search"
        mdbInput
      />
      <label for="search" >חיפוש</label>
    </div>
  </div>
</div>
<table mdbTable   dir="rtl" style="text-align: right;" class="z-depth-1 table-hover"   scrollY="true" >
  <thead>
    <tr>
      <th
        *ngFor="let head of headElements; let i = index" class="blue-text"
        scope="col">
        {{head}}
      </th>
    </tr>
  </thead>
  <div class="d-flex justify-content-center" *ngIf="loaderTable">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <tbody >
    <tr *ngFor="let el of elements; let i = index" (click)="editStep(i)">

      <td >{{el.name}}</td>
      <td>{{el.describe}}</td>
      <td>{{el.assignmentDate}}</td>
      <td>{{el.completionDate}}</td>
      <td>{{el.status}}</td>

      <td>{{el.mark}}</td>


     </tr>
  </tbody>
</table>

</div>
<div *ngIf="listStep.length==0 || listStep==undefined || listStep==null ">
  עדיין לא קיים שלבים למטלה
</div>
<button (click)="createNewStep()"  mdbBtn color="primary" outline="true" class="waves-effect" mdbWavesEffect>הוספת שלב</button>
</div>


