.hebrew-day {
  text-align: right;
  padding: 0.25rem 0.65rem 0.25rem 0.25rem;
  border-radius: 0.25rem;
  display: inline-block;
  height: 2.75rem;
  width: 2.75rem;
}
.hebrew-day:hover, .hebrew-day.focused {
  background-color: #e6e6e6;
}
.hebrew-day.selected {
  background-color: #007bff;
  color: white;
}
.outside {
  color: lightgray;
}
.gregorian-num {
  font-size: 0.5rem;
  direction: ltr;
}
.example-full-width {
  width: 80%;
  text-align: right;
}
